<?xml version="1.0"?>

<robot name="robot" xmlns="http://www.ros.org">

  <transmission name="differential_trans">
    <type>transmission_interface/DifferentialTransmission</type>
    <joint name="foo_joint">
      <offset>0.5</offset> <!--optional-->
      <mechanicalReduction>2</mechanicalReduction>
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <role>role1</role>
    </joint>
    <joint name="bar_joint">
      <offset>-0.5</offset> <!--optional-->
      <mechanicalReduction>-2</mechanicalReduction>
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <role>role2</role>
    </joint>
    <actuator name="foo_actuator">
      <mechanicalReduction>50</mechanicalReduction>
    </actuator>
    <actuator name="bar_actuator">
      <mechanicalReduction>-50</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="simple_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="baz_joint">
      <offset>0.5</offset> <!--optional-->
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="baz_actuator">
      <mechanicalReduction>50</mechanicalReduction>
      <hardwareInterface>hardware_interface/PositionActuatorInterface</hardwareInterface>
    </actuator>
  </transmission>

</robot>
