<?xml version="1.0"?>

<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <transmission name="simple_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="foo_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="foo_actuator">
      <!--<mechanicalReduction>50</mechanicalReduction>--> <!--Unspecified element -->
    </actuator>
  </transmission>

  <transmission name="simple_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <transmissionInterface>transmission_interface/ActuatorToJointStateInterface</transmissionInterface>
    <joint name="foo_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="foo_actuator">
      <mechanicalReduction>fifty</mechanicalReduction> <!-- Not a number -->
    </actuator>
  </transmission>

  <transmission name="simple_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <transmissionInterface>transmission_interface/ActuatorToJointStateInterface</transmissionInterface>
    <joint name="foo_joint">
      <offset>zero</offset> <!-- Not a number -->
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="foo_actuator">
      <mechanicalReduction>50</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="simple_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <transmissionInterface>transmission_interface/ActuatorToJointStateInterface</transmissionInterface>
    <joint name="foo_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="foo_actuator">
      <mechanicalReduction>0</mechanicalReduction> <!-- Invalid value -->
    </actuator>
  </transmission>

</robot>
