<?xml version="1.0"?>

<robot name="robot" xmlns="http://www.ros.org">

  <transmission name="differential_trans">
    <type>transmission_interface/DifferentialTransmission</type>
    <joint name="baz_joint">
      <role>joint2</role>
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <joint name="bar_joint">
      <role>joint1</role>
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="bar_actuator">
      <role>actuator1</role>
      <mechanicalReduction>50</mechanicalReduction>
    </actuator>
    <actuator name="baz_actuator">
      <role>actuator2</role>
      <mechanicalReduction>-50</mechanicalReduction>
    </actuator>
  </transmission>

</robot>
