<?xml version="1.0"?>

<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <transmission name="simple_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="foo_joint">
      <offset>0.5</offset> <!--optional-->
      <hardwareInterface>hardware_interface/BiDirectionalPositionJointInterface</hardwareInterface>
      <hardwareInterface>hardware_interface/BiDirectionalVelocityJointInterface</hardwareInterface>
      <hardwareInterface>hardware_interface/BiDirectionalEffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="foo_actuator">
      <mechanicalReduction>50</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="differential_trans">
    <type>transmission_interface/DifferentialTransmission</type>
    <joint name="bar_joint">
      <role>joint1</role>
      <offset>0.5</offset> <!--optional-->
      <hardwareInterface>hardware_interface/BiDirectionalPositionJointInterface</hardwareInterface>
      <hardwareInterface>hardware_interface/BiDirectionalVelocityJointInterface</hardwareInterface>
      <hardwareInterface>hardware_interface/BiDirectionalEffortJointInterface</hardwareInterface>
    </joint>
    <joint name="baz_joint">
      <role>joint2</role>
      <offset>0.5</offset> <!--optional-->
      <hardwareInterface>hardware_interface/BiDirectionalPositionJointInterface</hardwareInterface>
      <hardwareInterface>hardware_interface/BiDirectionalVelocityJointInterface</hardwareInterface>
      <hardwareInterface>hardware_interface/BiDirectionalEffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="bar_actuator">
      <role>actuator1</role>
      <mechanicalReduction>50</mechanicalReduction>
    </actuator>
    <actuator name="baz_actuator">
      <role>actuator2</role>
      <mechanicalReduction>50</mechanicalReduction>
    </actuator>
  </transmission>

</robot>
