<library path="src">
    <class name="ControllerManagerGUI" type="rqt_controller_manager.controller_manager_gui.ControllerManagerGUI" 
           base_class_type="rqt_gui_py::Plugin">
    <description>
        Visual interface for managing ROS controllers.
    </description>
    <qtgui>
      <group>
        <label>Robot Tools</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to robot tools.</statustip>
      </group>
      <label>Controller Manager</label>
      <icon type="file">images/cm_icon.png</icon>
      <statustip>Manage ROS controllers</statustip>
    </qtgui>
  </class>
</library>
