<?xml version="1.0"?>

<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="link_1"/>
  <link name="link_2"/>

  <joint name="extended_joint" type="floating">
     <parent link="link_1"/>
     <child link="link_2"/>
  </joint>

  <transmission name="extended_simple_trans">
    <type>transmission_interface/ExtendedSimpleTransmission</type>
    <joint name="extended_joint">
      <offset>0.0</offset>
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <hardwareInterface>hardware_interface/FooJointInterface</hardwareInterface>
      <hardwareInterface>hardware_interface/BarJointInterface</hardwareInterface>
      <role></role>
    </joint>
    <actuator name="extended_actuator">
      <mechanicalReduction>50</mechanicalReduction>
    </actuator>
  </transmission>

</robot>
